body {
    font-family: Verdana, Helvetica, Arial;
    font-size: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}
li {
    width: 50%;
    float: left;
    margin-left: 0;
}

input {
    vertical-align: middle;
}

table {
    border: 1px solid black;
}

th, td {
    text-align: left;
}

th {
    width: 200px;
}

td {
    width: 400px;
}